---
function calculateAge(dob: Date) {
  let diffMs = Date.now() - dob.getTime();
  let ageDt = new Date(diffMs);
  return Math.abs(ageDt.getUTCFullYear() - 1970);
}

const edad = calculateAge(new Date(2004, 4, 4));
---

<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
<body>
    <section class="about-me" id="aboutme">
        <div class="profile-picture">
            <img src="fotocarne.jpg" alt="Foto de perfil">
        </div>
        <div class="content">
            <h1>Sobre mí</h1>
            <h2></h2>
            <br>
            <p>Mi nombre es Facundo, tengo {edad} años y soy estudiante de la carrera de Licenciatura en Sistemas en la Universidad Nacional de La Plata. También, estoy cursando las últimas materias para obtener mi título de <strong>Analista Programador Universitario.</strong></p>
            <p>Soy un apasionado por el aprendizaje constante de <strong>algoritmos, patrones de diseño, desarrollo backend y muchos más</strong> campos que me ayudan a mejorar a la hora de involucrarme en un proyecto.</p>
        </div>
    </section>
</body>

<style>
    body {
        margin: 0;
        font-family: 'Eudoxus Sans', sans-serif;
        background-color: #141414;
        color: #fff;
        line-height: 1.7;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        margin: 50px auto;
        padding: 20px;
        gap: 20px;
    }

    .profile-picture {
        flex: 1;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
    }

    .profile-picture img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .content {
        flex: 2;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        .about-me {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .profile-picture {
            position: relative;
            top: 0;
            margin-bottom: 20px;
        }

        .profile-picture img {
            max-width: 150px;
            width: 100%;
            height: auto;
        }

        .content {
            flex: none;
            width: 100%;
        }
    }
</style>
