<body>
    <div class="contact-section">
        <h2 ><strong>¿Nos contactamos?</strong></h2>
        <a href="mailto:facundobarciabarate@gmail.com" class="contact-button">Hablemos por email</a>
    </div>
    <br>
</body>
</html>
<style>
    body {
        margin: 0;
        font-family: 'Eudoxus Sans', sans-serif;
        background-color: #141414;
        color: #fff;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        flex-direction: column;
        font-family: 'Eudoxus Sans', sans-serif;
    }

    .contact-section {
        text-align: center;
        margin-top: 50px;
    }

    .contact-section h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .contact-section .contact-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: rgb(188, 11, 211);
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .contact-section .contact-button:hover {
        background-color: #7c3aed;
    }
</style>