---
import ThemeIcon from "./Icons.astro";
---

<head>
  <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=general-sans@400,500,700&display=swap">
  <script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
</head>

<nav class="fixed top-4 right-4 z-50 flex flex-col md:flex-row justify-end items-center">
  <ul class="flex flex-col md:flex-row gap-4 font-500 text-[#d1d5db]">
    <li class="hover:text-black dark:hover:text-white" style="list-style-type: none;">
      <a
        href="https://www.linkedin.com/in/facugazar"
        target="_blank"
        aria-label="Linkedin"
        class="flex items-center gap-2"
      >
        <span class="iconify h-6 w-6" data-icon="mdi:linkedin"></span>
        <span>Linkedin</span>
      </a>
    </li>
    <li class="hover:text-black dark:hover:text-white" style="list-style-type: none;">
      <a
        href="mailto:facundobarciabarate@gmail.com"
        target="_blank"
        aria-label="Email"
        class="flex items-center gap-2"
      >
        <span class="iconify h-6 w-6" data-icon="mdi:email"></span>
        <span>Email</span>
      </a>
    </li>
    <li class="hover:text-black dark:hover:text-white" style="list-style-type: none;">
      <a
        href="http://github.com/FacundoGazar"
        target="_blank"
        aria-label="Github"
        class="flex items-center gap-2"
      >
        <span class="iconify h-6 w-6" data-icon="mdi:github"></span>
        <span>Github</span>
      </a>
    </li>
    <li class="hover:text-black dark:hover:text-white" style="list-style-type: none;">
      <ThemeIcon />
    </li>
  </ul>
</nav>

<style>
  li {
    transition: all 0.2s ease;
  }

  li:hover {
    transform-origin: bottom left;
    transform: rotate(5deg);
  }

  nav {
    top: 8px;
    right: 8px;
  }

  ul {
    display: flex;
    gap: 16px;
  }

  a {
    text-decoration: none;
    font-family: 'General Sans', sans-serif;
  }

  a:link, a:visited {
    color: #d1d5db;
  }

  a:hover {
    color: #d1d5db;
    text-shadow: 0 0 1rem #d1d5db;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .gap-2 {
    gap: 0.5rem;
  }

  @media (max-width: 640px) {
    nav {
      top: 4px;
      right: 4px;
      left: 50%;
      transform: translateX(-50%);
    }

    ul {
      flex-direction: column;
      align-items: center;
    }

    li {
      margin-bottom: 8px;
    }
  }
</style>
