</head>

<body style="font-family: sans-serif;">

    <div class="container">
        <h1 class="title">Ferreplus</h1>
        <p class="subtitle">Sitio web de intercambios, publicidad y control de stock</p>

        <div class="info">
            <div class="info-item">
                <h3>Fecha</h3>
                <p>Febrero 2024</p>
            </div>
            <div class="info-item">
                <h3>Tecnologías</h3>
                <div class="card__tags">
                    <span class="tag__blue">
                      <span class="iconify" data-icon="logos:python"></span> Python
                    </span>
                    <span class="tag__green">
                      <span class="iconify" data-icon="logos:django"></span> Django
                    </span>
                    <span class="tag__orange">
                      <span class="iconify" data-icon="logos:html-5"></span> HTML5
                    </span>
                    <span class="tag__lblue">
                      <span class="iconify" data-icon="logos:css-3"></span> CSS3
                    </span>
                    <span class="tag__purple">
                      <span class="iconify" data-icon="logos:bootstrap"></span> Bootstrap
                    </span>
                  </div>
            </div>
        </div>

        <div class="image-section">
            <img src="/img1-1.png" alt="Ferreplus">
        </div>

        <div class="text-container">
            <div>
                <h1 class="title-two">Objetivo</h1>
                <p>Este proyecto grupal fue presentado en la materia de Ingeniería de Software 2 de la Facultad de Informática de la UNLP. El objetivo principal era aplicar todos los pasos involucrados en el ciclo de vida de un proyecto de software para un cliente, abarcando desde la recolección y especificación de los requerimientos hasta el desarrollo y validación del producto final.</p>
            </div>
            <div>
                <h1 class="title-two">¿Cómo se llevó a cabo?</h1>
                <p>El primer paso fue recopilar información, lo cual logramos mediante el uso de técnicas de elicitación de requerimientos, como entrevistas y encuestas. A continuación, generamos la documentación correspondiente, incluyendo el PGP y el SRS. Se trabajó en la creación de historias de usuario y épicas que detallaban los requerimientos definidos junto al cliente. Para gestionar el desarrollo, se ejecutaron sprints periódicos acompañados de demos, mostrando así el avance del proyecto.</p>
            </div>
            <div>
                <h1 class="title-two">Documentos mencionados</h1>
                <ul>
                    <li class="links">
                        <a href="https://drive.google.com/drive/u/1/folders/1jVthJ1J9vout3SGexr1cXjflpmiVCXPm" target="_blank" style="text-decoration: none; color:#d1bebe;">Primer entrevista</a>
                    </li>
                    <li class="links">
                        <a href="https://drive.google.com/drive/u/1/folders/1jVthJ1J9vout3SGexr1cXjflpmiVCXPm" target="_blank" style="text-decoration: none; color:#d1bebe;">Segunda entrevista</a>
                    </li>
                    <li class="links">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwgdmfSd7fsUXulj_PGZh_WovCMPQ_VqISSjuAKFX3520g0g/viewform" target="_blank" style="text-decoration: none; color:#d1bebe;">Cuestionario</a>
                    </li>
                    <li class="links">
                        <a href="https://drive.google.com/drive/u/1/folders/1jVthJ1J9vout3SGexr1cXjflpmiVCXPm" target="_blank" style="text-decoration: none; color:#d1bebe;">SRS</a>
                    </li>
                    <li class="links">
                        <a href="https://drive.google.com/drive/u/1/folders/1jVthJ1J9vout3SGexr1cXjflpmiVCXPm" target="_blank" style="text-decoration: none; color:#d1bebe;">PGP</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1 class="title-two">Desafíos enfrentados</h1>
                <ul>
                    <li>
                        <p>Restricciones debido a los plazos establecidos, lo que nos obligó a optimizar la planificación y priorización de tareas</p>
                    </li>
                    <li>
                        <p>Dificultades para captar con precisión todos los requerimientos cambiantes del cliente, lo que nos llevó a revisar y ajustar los detalles a lo largo del proyecto.</p>
                    </li>
                    <li>
                        <p>La necesidad de aprender nuevos lenguajes y frameworks sobre la marcha, lo cual requirió una curva de aprendizaje significativa durante el proceso de desarrollo.</p>
                    </li>
                </ul>
            </div>

            <div>
                <h1 class="title-two">Fotos de las funciones principales</h1>
                <div class="image-section">
                    <figure>
                        <img src='/img1-1.png' alt='inicio' />
                        <figcaption>Inicio como cliente</figcaption>
                    </figure>
                </div>
                <div class="image-section">
                    <figure>
                        <img src='/img1-2.png' alt='inicio' />
                        <figcaption>Inicio de sesión</figcaption>
                    </figure>
                </div>
                <div class="image-section">
                    <figure>
                        <img src='/img1-3.png' alt='inicio' />
                        <figcaption>Publicidad de servicios</figcaption>
                    </figure>
                </div>
                <div class="image-section">
                    <figure>
                        <img src='/img1-4.png' alt='inicio' />
                        <figcaption>Intercambios disponibles</figcaption>
                    </figure>
                </div>
                <div class="image-section">
                    <figure>
                        <img src='/img1-5.png' alt='inicio' />
                        <figcaption>Perfil del usuario cliente</figcaption>
                    </figure>
                </div>
                <div class="image-section">
                    <figure>
                        <img src='/img1-6.png' alt='inicio' />
                        <figcaption>Inicio como administrador</figcaption>
                    </figure>
                </div>
                <div class="image-section">
                    <figure>
                        <img src='/img1-7.png' alt='inicio' />
                        <figcaption>Gestión de empleados</figcaption>
                    </figure>
                </div>
                <div class="image-section">
                    <figure>
                        <img src='/img1-8.png' alt='inicio' />
                        <figcaption>Estadísticas del sistema</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<style>
    body {
        font-family: 'General Sans', sans-serif;
        background-color: #121212;
        color: #d1d5db;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 50px 0;
    }

    .text-container {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        padding: 80px 0;
        font-size: 1.3rem;
    }

    .title {
        font-size: 4rem;
        font-weight: 700;
        color: #ffffff;
    }

    .title-two {
        font-size: 2.5rem;
        font-weight: 700;
        color: #ffffff;
    }

    .subtitle {
        font-size: 1.5rem;
        color: #9CA3AF;
        margin-top: 10px;
    }

    .info {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
    }

    .info-item {
        text-align: center;
    }

    .info-item h3 {
        font-size: 1.25rem;
        color: #ffffff;
        margin-bottom: 10px;
    }

    .info-item p,
    .info-item a {
        font-size: 1rem;
        color: #9CA3AF;
    }

    .buttons {
        margin-top: 30px;
    }

    .button {
        padding: 15px 30px;
        font-size: 1.25rem;
        color: #ffffff;
        background-color: #3B82F6;
        border: none;
        border-radius: 5px;
        margin: 0 10px;
        cursor: pointer;
        text-decoration: none;
    }

    .button:hover {
        background-color: #2563EB;
    }

    .image-section {
        margin-top: 50px;
    }

    .image-section img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    }
    .card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .tag__blue {
    background-color: #001aff81;
    color: var(--tag-text-color);
    font-size: var(--small-font-size);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .tag__orange {
    background-color: #ff480081;
    color: var(--tag-text-color);
    font-size: var(--small-font-size);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .tag__lblue {
    background-color: #003a6971;
    color: var(--tag-text-color);
    font-size: var(--small-font-size);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .tag__purple {
    background-color: #b71abd75;
    color: var(--tag-text-color);
    font-size: var(--small-font-size);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .tag__yellow {
    background-color: #fbff0085;
    color: var(--tag-text-color);
    font-size: var(--small-font-size);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .tag__green {
    background-color: #00ff0088;
    color: var(--tag-text-color);
    font-size: var(--small-font-size);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .links {
    transition: all 0.2s ease;
  }

  .links:hover {
    transform-origin: bottom left;
    transform: translate(1rem);
  }

  figcaption {
    margin: 10px 0 0 0;
    align-items: center;
    text-align: center;
  }
</style>
