<head>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
        }

        .technologies {
            display: flex;
            flex-direction: column;
            gap: 25px;
            text-align: center;
        }

        .stack-principal {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }

        .tech-badge {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            margin: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 1rem;
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .iconify {
            font-size: 1.6rem;
        }

        .down-arrow {
            width: fit-content;
            margin: 3rem auto;
            font-size: 2rem;
            animation: bounce 2s infinite;
            transition: all 0.2s ease;
        }

        .down-arrow:hover {
            opacity: 0.7;
        }

        @keyframes bounce {
            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0);
            }

            40% {
                transform: translateY(10px);
            }

            60% {
                transform: translateY(5px);
            }
        }

        @media (max-width: 768px) {
            .down-arrow {
                margin-top: 2rem;
                font-size: 1.5rem;
            }

            .tech-badge {
                font-size: 0.9rem;
                padding: 4px 8px;
            }
        }
    </style>
</head>
<body>
    <div class="content">
        <h2>Tecnologías Principales</h2>
        <div class="technologies">
            <div class="stack-principal">
                <span class="tech-badge python">
                    <span class="iconify" data-icon="logos:python"></span> Python
                </span>
                <span class="tech-badge java">
                    <span class="iconify" data-icon="logos:java"></span> Java
                </span>
                <span class="tech-badge django">
                    <span class="iconify" data-icon="logos:django-icon"></span> Django
                </span>
                <span class="tech-badge flask">
                    <span class="iconify" data-icon="logos:flask"></span> Flask
                </span>
                <span class="tech-badge html">
                    <span class="iconify" data-icon="logos:html-5"></span> HTML5
                </span>
                <span class="tech-badge css">
                    <span class="iconify" data-icon="logos:css-3"></span> CSS
                </span>
                <span class="tech-badge javascript">
                    <span class="iconify" data-icon="logos:javascript"></span> JavaScript
                </span>
                <span class="tech-badge astro">
                    <span class="iconify" data-icon="logos:astro"></span> Astro
                </span>
                <span class="tech-badge tailwind">
                    <span class="iconify" data-icon="logos:tailwindcss-icon"></span> TailwindCSS
                </span>
                <span class="tech-badge mysql">
                    <span class="iconify" data-icon="logos:mysql"></span> MySQL
                </span>      
                <span class="tech-badge bootstrap">
                    <span class="iconify" data-icon="logos:bootstrap"></span> Bootstrap
                </span>
                <span class="tech-badge git">
                    <span class="iconify" data-icon="logos:git"></span> Git
                </span>
                <span class="tech-badge github">
                    <span class="iconify" data-icon="logos:github"></span> GitHub
                </span>
                <span class="tech-badge gitlab">
                    <span class="iconify" data-icon="logos:gitlab"></span> GitLab
                </span>
            </div>
        </div>
    </div>
    <div class="down-arrow pointer">
        <a href="#projects" aria-label="Go to cards">
          <span class="iconify" data-icon="mdi:arrow-down-box" style="color: rgb(188, 11, 211);"></span>
        </a>
    </div>
</body>
</html>
